*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;

}

:root{
    --text-color: #fff;
    --bg-color: #1b1f24;
    --second-bg-color: #22282f;
    --main-color: #FFB000;
    /* --main-color: #FF6969; */
    --other-color: #EBE4D1;

    --h1-font: 4.5rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;
}

body{
    color: var(--text-color);
    background-color: var(--bg-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 16%;
    background: transparent;
    transition: all .50s ease;
}

.logo{
    font-size: 30px;
    color: var(--text-color);
    font-weight: 600;
}

.disquete{
    width: 25px;
    height: auto;
}

span{
    color: var(--main-color);
}

.navlist{
    display: flex;

}

.navlist a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--other-color);
    margin-left: 40px;
    transition: all .50s ease;
}

.navlist a:hover{
    color: var(--main-color);
    text-shadow: 3px 3px 20px var(--main-color), -2px 1px 30px var(--text-color);
}

#menu-icon{
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.h-btn{
    display: inline-block;
    padding: 11px 26px;
    background-color: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}

.h-btn:hover{
    background: var(--main-color);
    color: var(--bg-color) ;
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.1);
}

section{
    padding: 110px 16% 90px;
}

.hero{
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    margin: 0;
    padding-top: 200px;

    --x: calc(var(--posX, 0) * 1px);
    --y: calc(var(--posY, 0) * 1px);
    background-image: 
        linear-gradient(115deg, rgb(211 255 215), rgb(0 0 0)), 
        radial-gradient( 90% 100% at calc( 50% + var(--x)) calc( 0% + var(--y)), rgb(200 200 200), rgb(022 000 045)), 
        radial-gradient(100% 100% at calc( 80% - var(--x)) calc( 0% - var(--y)), rgb(255, 106, 0), rgb(036 000 000)), 
        radial-gradient(150% 210% at calc(100% + var(--x)) calc( 0% + var(--y)), rgb(020 175 125), rgb(000 010 255)), 
        radial-gradient(100% 100% at calc(100% - var(--x)) calc(30% - var(--y)), rgb(255 077 000), rgb(000 200 255)), 
        linear-gradient(60deg, rgb(255 000 000), rgb(120 086 255));
    background-blend-mode: overlay, overlay, difference, difference, difference, normal;

}

.main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.main-content h4{
    font-size: 1.6rem;
}

.main-content h1{
    font-size: var(--h1-font);
    font-weight: 900;
    margin: 20px 0px 20px;
    line-height: 1.2;
}

.main-content p{
    font-size: var(--p-font);
    font-weight: 400;
    width: 620px;
    max-width: 100%;
    color: var(--other-color);
    line-height: 30px;
    margin-bottom: 15px;
    
}

.social{
    margin-bottom: 40px;
}

.social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--main-color);
    border-radius: 50%;
    backdrop-filter: brightness(88%);
    font-size: 20px;
    margin-right: 17px;
    box-shadow: 0 0 20px transparent;
    cursor: pointer;
    transition: all .50s ease;
    margin-left: 10px;
}

.social i:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--main-color);
}

.btn{
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
}

.btn:hover{
    background: transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
}

.btn2{
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    margin-left: 15px;
    transition: all .50s ease;
}

.btn2:hover{
    background: var(--main-color);
    color: var(--bg-color);
}
.main-btn{
    padding-bottom: 50px;
}

header.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 1.0);
    padding: 16px 16%;
}

.about{
    background: var(--second-bg-color);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1rem;
}

.contact-information{
    display: flex;
    flex-direction: column;
    
}
.contact-information i{
    color: #EBE4D1;
    /* margin-bottom: 4px; */
    align-items: center; 
}
.contact-information p {
    margin-left: 8px; /* Espaciado entre el ícono y el texto */
    display: inline;  /* Asegura que el texto esté en la misma línea */
}

.about-img {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* align-content: center; */
    justify-content: center;
    margin-left: 60px;
    color: #EBE4D1;
    /* margin-right: auto;
    margin-left: auto; */
}

.div-img-center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-content: center;
     margin-right: auto;
    margin-left: auto;
}

.about-img img{
    width: 100%;
    height: 300px;
    /* max-width: 530px; */
    border-radius: 10%;
    object-fit: cover;
    /* border: 1px solid var(--main-color); */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.652);
    margin-bottom: 15px;
    display: block;  /* Asegura que la imagen se comporte como un bloque */
    margin: 0 auto;  /* Centra la imagen horizontalmente */
    justify-content: center;
}

.about-img a {
    color: #EBE4D1;
    margin-bottom: 7px;

    display: flex;
    align-items: center;  /* Alinea el icono y el texto verticalmente al centro */
    text-decoration: none;  /* Elimina el subrayado del enlace */
    margin-top: 5px;  /* Espacio entre los enlaces */
    justify-content: flex-start; 
}
.about-img a i {
    margin-right: 8px;  /* Espacio entre el icono y el texto */
}

.about {
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.about h2{
    font-size: var(--h2-font);
    line-height: 1.3;
    margin-bottom: 20px;
    text-align: center;
}

.img-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-logos img{
    height: 100px;
    width: auto;
    margin: 5px 7px;
}

.center-text{
    text-align: center;
}

.center-text h2{
    font-size:var(--h2-font) ;
}

.services-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
}

.box{
    padding: 80px 40px 66px;
    background: #2d343f;
    border-radius: 28px;
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    transition: all .50s ease;
    cursor: pointer;
}

.box img{
    margin-bottom: 20px;
}

.box h3{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.box p{
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--other-color);
    line-height: 30px;
    margin-bottom: 20px;
}

.box a{
    display: inline-block;
    font-size: 22px;
    line-height: 1.273em;
    font-weight: 700;
    padding: 7px 0;
    color: var(--text-color);
    border-bottom: 2px solid #5d6c83;
    transition: all .50s ease;
}

.box i{
    vertical-align: middle;
    font-size: 25px;
    color: var(--main-color);
    margin-left: 5px;
}

.box a:hover{
    border-bottom: 2px solid var(--main-color);
}

.box:hover{
    border: px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
}

/* .portafolio{
    background: var(--second-bg-color);
} */

.portafolio-center{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px,auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
}

.row img{
    height: auto;
    width: 100%;
    border-radius: 28px;
    margin-bottom: 1.4rem;
}

.row{
    background: #2d343f;
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    padding: 20px;
    transition: all .50s ease;
}

.main-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.row h5{
    font-size: 20px;
    font-weight: 600;
    color: var(--other-color);
}

.row i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font-size: 27px;
    border-radius: 50%;
    color: var(--text-color);
    background: var(--main-color);
}

.row h4{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
}

.row:hover{
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
    cursor: pointer;
}

.contact{
    background: var(--second-bg-color);
}

.contact-form{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 4.2rem;
}

.contact-form form{
    position: relative;
    width: 600px;
}

form input,
form textarea{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px var(--main-color);
    background: #2d343f;
    color: var(--text-color);
    margin-bottom: 20px;
    border-radius: 4px;
}

form input::placeholder
form textarea::placeholder{
    color: var(--other-color);
    font-size: 15px;
}

form .send-btn{
    display: inline-block;
    padding: 11px 26px;
    background: var(--main-color);
    color: var(--bg-color);
    border: 2px solid var(--main-color);
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
    width: 30%;
}
.btn-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

form .send-btn:hover{
    background:transparent;
    color: var(--main-color);
    box-shadow: 0 0 20px var(--main-color);
    cursor: pointer;
}

.footer{
    padding: 22px 16%;
    /* background: var(--second-bg-color); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
 .copyright p{
    font-size: 15px;
    font-weight: 400;
    color: var(--other-color);
}

.scroll-top{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: var(--text-color);
    font-size: 27px;
}

@media (max-width: 1700px){
    header{
        padding: 20px 8%;
    }
    header.sticky{
        padding: 14px 8%;
    }
    section{
        padding: 90px 8% 80px;
    }
    .footer{
        padding: 18px 8%;
    }
    .logo{
        font-size: 28px;
    }
}

@media (max-width: 1380px){
    header{
        padding: 20px 5%;
    }
    header.sticky{
        padding: 14px 5%;
    }
    section{
        padding: 90px 5% 80px;
    }
    .footer{
        padding: 18px 5%;
    }
    .hero{
        height: 100vh;
        background-position: center;
    }
}

@media (max-width: 1290px){
    .box{
        padding: 40px 40px 46px;
    }
    .box img{
        width: 100%;
        height: 60px;
        max-width: 60px;
    }
    .box h3{
        font-size: 21px;
    }

}

@media (max-width: 1240px){
    .about{
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: center;
    }
    .about-img img{
        text-align: center;
        width: 100%;
        height: 400px;
        max-width: 400px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }
    :root{
        --h1-font: 4rem;
        --h2-font: 2.2rem;
        --p-font: 15px;
    }
}

@media (max-width: 950px){
    :root{
        --h1-font:3.5rem;
    }
    .social{
        margin-bottom: 20px;
    }
    #menu-icon{
        display: block;
    }
    .top-btn{
        display: none;
    }
    .navlist {
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        width: 255px;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: right 0.50s ease;
        justify-content: center;
    }
    
    .navlist a {
        display: block;
        padding: 25px;
        font-size: 22px;
    }
    
    .navlist.active {
        right: 0;
    }
}

@media (max-width: 680px){
    .main-content p{
        width: 100%;
    }
    .hero p{
        text-align: justify;
    }
}

@media (max-width: 470px){
    :root{
        --h1-font:2.5rem;
        --h2-font: 2rem;
    }

    .about, .portafolio, .contact{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .portafolio h4{
        font-size: 20px;
    }

    .about-img img{
        text-align: center;
        width: 100%;
        height: 280px;
        max-width: 300px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }
    .main-content p{
        text-align: justify;
    }
    .hero p {
        font-size: 13px;
        /* margin-bottom: 0; */
    }
    .social{
        justify-content: center;
        align-items: center;
    }
    .social a {
        padding: 9px 15px;
        margin: 10px;
    }
    .scroll-top{
        width: 35px;
        height: 35px;
        padding: 5px;
        font-size: 20px;
    }
    .scroll-top i {
        padding: 2px;
    }
}

@media (max-width: 380px){
    .portafolio-center{
        grid-template-columns: repeat(auto-fit, minmax(320px,auto));
        align-items: center;
        gap: 2.3rem;
        margin-top: 4.2rem;
    }
}